/* Tech Returners Surgery styles */

/* Reset some default browser styles */
html, body, h1, h2, h3, p, ul, li, a, input, button, label, fieldset {
    margin: 0;
    padding: 0;
}

/* css patterns - fun background pattern 
    FYI --s: controls the size 
*/
html body {
    --s: 84px; 
    
    --g: #a1c7ec 0 25%,#e4effa 0 50%,#0000 0;
    background:
      conic-gradient(from 135deg at 25% 75%,var(--g))
       calc(var(--s)/4) calc(var(--s)/-4),
      conic-gradient(from -45deg at 75% 25%,var(--g))
       calc(var(--s)/-4) calc(var(--s)/4),
      repeating-conic-gradient(var(--g));
    background-size: var(--s) var(--s)
  } 
 
  

/* background and text color for the entire document */
body {
    background: linear-gradient(to bottom,  #78AFE4 0%,#CFE4F6 100%); 
    color: #333;
    font-family:"Avenir Light", Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
}

/* header section */
header {
    background-color: #2886d5;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* navigation menu */
nav {
    background-color: #1D639D; 
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    color: #fff;
    background-color: #3F94DB;
    transition: background-color 1s;
}

/* center search */
form.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: white;
    padding: 20px 0;
}

form.search-form input {
    margin-left: 10px;
    padding: 4px 16px;
    border: solid #3F94DB 2px;
    border-radius: 2px;
}

form.search-form button {
    margin-left: 10px;
    padding: 4px 16px;
    border-radius: 7px;
}


/* main content */
main {
    /* background: linear-gradient(to bottom,  #78AFE4 0%,#CFE4F6 100%);  */
    background-image: linear-gradient(rgba(40, 134, 213, 0.5), rgba(207, 208, 226, 0.5)), url('surgery.png');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat;
    padding: 20px;
}

/* .example-element {
    width: 300px;
    height: 200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('your-image.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
  } */
  
/* #1D639D */

main h2 {
    color: #fff;
    font-family:"Avenir Heavy", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.7rem;
    margin-bottom: 1rem;
    /* outline: solid white 3px; */
}

/* image */
main img {
    display: none;
    /* width: 100%;
    max-width: 600px;
    height: auto;
    border: solid1px black;
    border-radius: 0 25px 25px 25px;
    box-shadow: 10px 10px 10px #2886D5;
    filter: grayscale();
    transition: .3s linear;
    cursor: pointer; */
}

main p {
    font-size: 2rem;
    color: #10395b;
}


img:hover {
--_i: 10%;
filter: grayscale(0);
}


/* sidebars */
aside {
    background-color: #fff;
    padding: 10px;
    margin: 10px 10%;
    border: solid #000;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

aside p {
    text-align: left;
    padding: 5px 0;
}

/* covid warning anim */
body > aside:first-of-type {
    border-color: red;
    border-width: 3px;
    animation: color-change 5s infinite;
}

@keyframes color-change {
    0% { border-color: red; }
    50% { border-color: black; }
    100% { border-color: red; }
  }

body > aside:nth-last-of-type(1) {
    display: inline-block;
    justify-content: center;
}

/* aside:nth-child(2) {
    text-align: center;
} */

footer {
    /* background-color: #A1C7EC; */
    background: linear-gradient(to top,  #78AFE4 0%,#CFE4F6 100%);
    padding: 100px auto;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

footer h2 {
    font-size: 1.1rem;
    padding-top: 10px;
}

/* form */
footer form {
    text-align: left;
    max-width: 22rem;
    margin: 0 auto;
    padding: 10px;
    border: solid #FFF;
    border-radius: 15px;
    background-color: #A1C7EC;

}

footer form::after {
    margin-bottom: 100px;
    padding-bottom: 100px;
}

/* separate text from text above so it goes with the tickboxes below */
footer form fieldset p{
    margin: 0.5rem auto 0;
}

footer form fieldset > label {
    width: 34%;
    margin-bottom: 1em;
}

footer form fieldset > input[type="checkbox"] {
    width: 12%;
}

footer form div {
    display: flex;
    justify-content:space-between;
}

/* remove stray border */
form > fieldset {
    border: none;
}

footer form label {
    display: inline-flex;
    width: 10rem;
}

footer form input {
    width: 10rem;
}

footer form input[type="submit"] {
    display: block;
    margin: 10px auto;
}

/* text - needed as Avenir light has no bold */
strong {
    font-family:"Avenir Heavy", Tahoma, Geneva, Verdana, sans-serif;
}

/* Make responsive */
@media screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    main p {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 15px;
        padding: 7px;
    }
}
